CompileFlags:
  Add: 
    - -std=c23
    - -I../deps/cglm/include
    - -I../deps/glfw/include
    - -I../deps/cwalk/include
    - -I../deps/
    - -I../src
    - -I../../deps/cglm/include
    - -I../../deps/glfw/include
    - -I../../deps/cwalk/include
    - -I../../deps/
    - -I../../src
    - -I../../../deps/cglm/include
    - -I../../../deps/glfw/include
    - -I../../../deps/cwalk/include
    - -I../../../deps/
    - -I../../../src
  
Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress: "*"